version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: dinhthai2004  # Đặt mật khẩu cho người dùng root
      MYSQL_DATABASE: ezpdf               # Tạo database mặc định
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql


  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"

  web:
    image: theodorescsa/ezpdf-lib-requirements:latest
    container_name: ezpdf_web
    build:
      context: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env  # Thêm dòng này để container nhận các biến môi trường từ file .env
    environment:
      - DJANGO_SETTINGS_MODULE=EzPDF.settings
      - DATABASE_NAME=ezpdf
      - DATABASE_USER=root
      - DATABASE_PASSWORD=dinhthai2004
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - .:/app
    command: >
      sh -c "python manage.py migrate &&
        python manage.py shell < create_superuser.py &&
        python manage.py runserver 0.0.0.0:8000"


  celery:
    image: theodorescsa/ezpdf:latest
    container_name: celery_worker
    build:
      context: .
    depends_on:
      - db
      - redis
    command: celery -A EzPDF worker --loglevel=info
    env_file:
      - .env  # Thêm dòng này để container nhận các biến môi trường từ file .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0

    volumes:
      - .:/app


volumes:
  db_data:
