.pdf-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
canvas {
    height: 150px;
    width: 100px;
    border: 4px solid orange;
}
.pdf-item {
    flex: 0 0 auto; 
    width: 150px;
    height: 200px; 
    border: 1px solid #ccc; 
    margin-right: 10px; 
}
.pdf-item canvas {
    width: 100%; 
    height: 100%; 
}
