.left-content,
.right-content
{
    padding: 5rem 10rem;
    border: 1px solid rgb(172, 172, 172);
    margin: 0 0.5rem;
    border-radius: 20px;
}

.content-border
{
    width: 10rem;
    height: 40vh;
}
.file-preview {
    width: 10rem;
    height: 13rem;
    border: 0.5px dashed rgb(141, 141, 141);
    border-radius: 10px;
}

.right-content .file-options button {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
.list-group-item .dot{
    font-size: 13px;
    color: rgb(110, 110, 110);
}
.right-content button.btn-primary {
    background-color: #C754A8;
    border: none;
}
