@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans", sans-serif;}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.pdf-viewer {
    flex-grow: 1;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-page {
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.logo img
{
    height: 4rem;
    width: 4rem;
}
.btn-show-pages
{
    background-color: white;
    border: 0.3px solid rgb(207, 207, 207);
    border-radius: 5px;
    margin: 0 1.5rem;
}
.btn-show-pages img
{
    height: 2.5rem;
    width: 2.5rem;
}
.btn-outline-secondary img
{
    height: 1.3rem;
    width: 1.3rem;
}
.btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.3rem;
}
.btn-outline-secondary 
{
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #cecece;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cfcfcf;
    --bs-btn-hover-border-color: #6c757d;
}
.draw,
.write,
.images,
.add_shapes
{
    margin: 0 3rem;
}  

#myColor {
  width: 2rem;   
  height: 2rem;  
  border-radius: 50%;  
  padding: 0;    
  border: 1px solid #dfdfdf; 
  cursor: pointer;  
}
.pdf-viewer
{
    padding-top: 5rem;
}
.save-all
{
    padding: 0.5rem 1rem;
    background-color: rgb(197, 50, 197);
    border: none;
    border-radius: 7px;
}
.save-all:hover {    background-color: rgb(170, 41, 170);
}
.bi-download
{
    color: white;
    margin-right: 0.5rem;
}
.text-center span
{
    color: #868686;
}