{% extends 'File/base.html' %}
{% block content %}
<main>
    <!-- LINK-HOME -->
    <span class="d-flex link-home">
        <a href="../index.html"><i class="bi bi-house-door"></i> Home</a>
        <a href="#"><i class="bi bi-arrow-right-short"></i> Upload File</a> 
    </span>
    <div class="container">
        <div class="text-center">
            <!-- H1 -->
            <h1 id="convert-before-login-h1">PDF Upload</h1>             
        </div>
        <div class="content text-center d-flex flex-column justify-content-center align-items-center">
            <div class="container d-flex flex-column justify-content-center">
                <i class="bi bi-cloud-arrow-up"></i>
            </div>
            <button type="button" class="btn mb-3 choose-files" style="background-color: #C754A8; color: white;">
                <i class="bi bi-plus-circle"></i>
                <span>Choose your files</span>
            </button>
       
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="id_original_file" style="display: none;" name="original_file">
                <button type="submit" class="btn mb-3 upload-files" style="background-color: #C754A8; color: white;display: none;">
                    <i class="bi bi-plus-circle"></i>
                    <span>Convert</span>
                </button>
            </form>
            <div class="choolse-dep">
                <div class="d-flex justify-content-center">
                    <span class="formats-dep" style="font-family: 'NotoSans-Bold';">The supported formats are:</span>
                </div>
                <div class="d-flex justify-content-center">
                    <div style="background-color: #7998E7;" class="box-formats">HTML</div>
                    <div style="background-color: #FF9090; color: #FC0A0A;" class="box-formats">PDF</div>
                    <div style="background-color: #94F1FE; color: #1647F3;" class="box-formats">Word</div>
                    <div style="background-color: #CDFFBB; color: #00A124;" class="box-formats">Excel</div>
                    <div style="background-color: #FF7E47; color: #fff;" class="box-formats">PPT</div>
                    <div style="background-color: #FFF2C5; color: #FFA000;" class="box-formats">JPG</div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('.choose-files').on('click', function() {
            console.log("hello")
            $('#id_original_file').click(); // Kích hoạt input file khi nhấn nút
        });
    
        $('#id_original_file').on('change', function() {
            // Bạn có thể xử lý khi file được chọn tại đây
            console.log(this.files);
            $(".upload-files").css({
                display:"block"
            })
            $(".choose-files").css({
                display:"none"
            })
        });
    });
    
</script>

{% endblock content %}
