*{
    margin: 0;
    padding: 0;
    font-family: 'NotoSans-Medium' ;
}
@font-face
{   
    src: url('../font/Noto_Sans/static/NotoSans-Medium.ttf');
    font-family: 'NotoSans-Medium';
}
@font-face
{
    src: url('../font/Noto_Sans/static/NotoSans-Bold.ttf');
    font-family: 'NotoSans-Bold';
}
@font-face
{
    src: url('../font/Noto_Sans/static/NotoSans-Black.ttf');
    font-family: 'NotoSans-Black';
}