{% extends 'File/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_file.css' %}">

    <div id="tools_list">
        <div class="draw">
            <button id="pen">Pen</button>
            <button id="saveDrawing">Save Drawing</button>
            <button id="redraw">Redraw</button>
        </div>
        <hr>
        <div class="write">
            <button id="add_text">Add Text</button>
            
        </div>
        <hr>
        <div class="add_image">
            <label for="add_image">Add Image:</label>
            <input type="file" id="add_image" name="add_image">
            <button id="save_image">Save Images</button>
        </div>
        <hr>
        <div class="add_shapes">
            <div class="button_shape circle" name = "circle">
            </div>
            <div class="button_shape square" name = "square"></div>
            <div class="button_shape rectangle" name = "rectangle"></div>
            <div class="button_shape triangle" name = "triangle"></div>
            <button id="saveshapes">save shapes</button>
        </div>
        <hr>
        <div class="restore">
            <button onclick="undo_canvas()" id="undo">Undo canvas</button>
            <button onclick="undo_html()" id="undo">Undo html</button>
            <button onclick="clear_canvas()" id="clear">Clear</button>
        </div>
        <hr>
        <button id="save_all_changes">Save All</button>
    </div>
    <p id="file_id" style="opacity: 0;">{{file.id}}</p>
    <p id="file_path" style="display: none;">{{file_path}}</p>
    <p id="num_pages" style="display: none;">{{num_pages}}</p>
    <div id="pdfContainer">
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
    <script src="{% static 'js/render_pages.js' %}"></script>

    <script src="{% static 'js/draw.js' %}"></script> 
    <script src="{% static 'js/add_text.js' %}"></script>
    <script src="{% static 'js/add_image.js' %}"></script>
    <script src="{% static 'js/add_shapes.js' %}"></script>

    <script src="{% static 'js/undo_clear.js' %}"></script>

{% endblock content %}
