<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrapmin.css' %}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      {% block css %}
      {% endblock css %}
      <title>Index</title>
   </head>
   <body>
      <header class="navbar navbar-expand-lg bg-body-tertiary shadow p-3 mb-5 bg-body rounded header">
         <div class="container-fluid">
            <a href="">
            <img style="margin-right: 0.5rem;" class="logo" src="{% static 'images/Logo.png' %}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown me-3">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Tools
                     </a>
                     <ul class="dropdown-menu">
                        <li class="dropdown-item-li"><a class="dropdown-item" href="{% url 'File:list_files' %}">Arrange PDF files</a></li>
                        <li class="dropdown-item-li"><a class="dropdown-item" href="{% url 'File:upload_file' %}">View & Edit PDF </a></li>
                        <li class="dropdown-item-li"><a class="dropdown-item" href="#">PDF conversion</a></li>
                        <li class="dropdown-item-li"><a class="dropdown-item" href="{% url 'File:upload_file' %}">Sign</a></li>
                     </ul>
                  </li>
                  <li class="nav-item me-3">
                     <a class="nav-link" href="">Conversion</a>
                  </li>
                  <li class="nav-item me-3">
                     <a class="nav-link" href="#">Merge</a>
                  </li>
                  <li class="nav-item me-3">
                     <a class="nav-link" href="{% url 'File:upload_file' %}">Edit</a>
                  </li>
               </ul>
               <span class="openbtn2" id="login__link" onclick="openNav2()">Login </span>
               <button type="button" class="btn btn-primary openbtn" id="btn_tryfree" onclick="openNav()">Try it for free</button>
            </div>
         </div>
      </header>
      
      {% block content %}
         
      {% endblock content %}
 <!-- SIGNUP -->
 <div id="my_signup" class="signup">
   <div class="container container_signup">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <i class="bi bi-x-lg align-items-center"></i>
      </a>
      <div class="col-lg-12 d-flex justify-content-center m-3">
         <img id="signup-logo-web" src="{% static 'images/Logo.png' %}" alt="">
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
         <h2 class="text-center">Create an EzFile account now</h2>
      </div>
      <div class="col-lg-12 d-flex justify-content-center m-3">
         <form action="{% url 'Account:signup' %}" method="post">
            <!-- Email input -->
            {% csrf_token %}
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-envelope-fill" id="login-icon"></i>
                  <input type="email" class="form-control" placeholder="Email address" name="email">
               </div>
            </div>
            <!-- Username input -->
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-person-fill" id="login-icon"></i>
                  <input type="text" class="form-control" placeholder="User name" name="username">
               </div>
            </div>
            <!-- Password input -->
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-lock-fill" id="login-icon"></i>
                  <input type="password" class="form-control" placeholder="Password" id="password-input" name="password1">
                  <i class="bi bi-eye-slash" id="toggle-password"></i>
               </div>
            </div>
            <!-- Confirm Password input -->
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-check-circle-fill" id="login-icon"></i>
                  <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password-input" name="password2">
                  <i class="bi bi-eye-slash" id="toggle-confirm-password"></i>
               </div>
            </div>
            <!-- Login prompt -->
            <div class="d-flex justify-content-center">
               <p class="signup-p me-1">Do you already have an account?</p>
               <a style="color: #C754A8;" href="#mySidepanel2">Login here</a>
            </div>
            <!-- Signup button -->
            <div class="d-flex justify-content-center">
               <button type="submit" class="btn-signup">Signup</button>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- LOGIN -->
<div id="my_login" class="login">
   <div class="container container_login">
      <a href="javascript:void(0)" class="closebtn2" onclick="closeNav2()">
      <i class="bi bi-x-lg align-items-center"></i>
      </a>
      <div class="col-lg-12 d-flex justify-content-center m-3">
         <img id="signup-logo-web" src="{% static 'images/Logo.png' %}" alt="">
      </div>
      <div class="col-lg-12 d-flex justify-content-center" >
         <h2 class="text-center">EzPDF Login</h2>
      </div>
      <div class="col-lg-12 d-flex justify-content-center m-3">
         <form action="{% url 'Account:signin' %}" method="post">
            <!-- Email input -->
            {% csrf_token %}
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-envelope-fill" id="login-icon"></i>
                  <input type="email" class="form-control" placeholder="Email address" name="email_login">
               </div>
            </div>
            <!-- Password input -->
            <div class="mb-3">
               <div class="input">
                  <i class="bi bi-lock-fill" id="login-icon"></i>
                  <input type="password" class="form-control" placeholder="Password" id="login-password-input" name="password_login">
                  <i class="bi bi-eye-slash" id="toggle-login-password"></i>                  
               </div>
            </div>
            <!-- Login prompt -->
            <div class="d-flex justify-content-center">
               <p class="signup-p me-1"> Do not have an account?</p>
               <a style="color: #C754A8;" href="#mySidepanel">Signup here</a>
            </div>
            <!-- Login button -->
            <div class="d-flex justify-content-center">
               <button type="submit" class="btn-signup">Login</button>
            </div>
         </form>
      </div>
   </div>
</div>
<div id="overlay" class="overlay"></div>
      <!-- Bootstrap JS and dependencies -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{% static 'js/jquery-371min.js' %}"></script>
      <script src="{% static 'js/bootstrapbundlemin.js' %}"></script>
      <script src="{% static 'js/index.js' %}"></script>
      {% block js %}{% endblock js %}
      <script>
         // CHUYỂN ĐỔI GIAO DIỆN TỪ LOGIN -> SIGNUP VÀ NGƯỢC LẠI
         $(document).ready(function() {
             // Hàm để cập nhật chiều rộng của các giao diện
             function updatePanelWidth() {
                 var screenWidth = $(window).width();
                 var panelWidth = (screenWidth < 992) ? '100%' : '90%';
         
                 // Cập nhật chiều rộng của giao diện đăng ký và đăng nhập dựa trên kích thước màn hình
                 $('#my_signup').css('width', panelWidth);
                 $('#my_login').css('width', panelWidth);
             }
         
             // Hiển thị giao diện đăng ký và lớp phủ khi nhấp vào liên kết "Signup here"
             $('a[href="#mySidepanel"]').click(function(e) {
                 e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
         
                 // Cập nhật chiều rộng của giao diện đăng ký dựa trên kích thước màn hình
                 updatePanelWidth();
                 $('#my_login').css('width', '0'); // Ẩn giao diện đăng nhập
                 $('#my_signup').css('width', ($(window).width() < 992) ? '100%' : '90%'); // Hiển thị giao diện đăng ký
                 $('.overlay').show(); // Hiển thị lớp phủ
             });
         
             // Hiển thị giao diện đăng nhập và lớp phủ khi nhấp vào liên kết "Login here"
             $('a[href="#mySidepanel2"]').click(function(e) {
                 e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
         
                 // Cập nhật chiều rộng của giao diện đăng nhập dựa trên kích thước màn hình
                 updatePanelWidth();
                 $('#my_signup').css('width', '0'); // Ẩn giao diện đăng ký
                 $('#my_login').css('width', ($(window).width() < 992) ? '100%' : '90%'); // Hiển thị giao diện đăng nhập
                 $('.overlay').show(); // Hiển thị lớp phủ
             });
         
             // Ẩn các giao diện và lớp phủ khi lớp phủ được nhấp
             $('.overlay').click(function() {
                 $('#my_signup').css('width', '0'); // Ẩn giao diện đăng ký
                 $('#my_login').css('width', '0'); // Ẩn giao diện đăng nhập
                 $('.overlay').hide(); // Ẩn lớp phủ
             });
         
             // Cập nhật chiều rộng của các giao diện khi cửa sổ thay đổi kích thước
             $(window).resize(function() {
                 // Nếu giao diện đang hiển thị, cập nhật lại chiều rộng
                 if ($('#my_signup').css('width') === '90%' || $('#my_signup').css('width') === '100%') {
                     updatePanelWidth();
                 }
                 if ($('#my_login').css('width') === '90%' || $('#my_login').css('width') === '100%') {
                     updatePanelWidth();
                 }
             });
         });
         
         
         
           // JavaScript to toggle password visibility
         const togglePassword = document.querySelector('#toggle-password');
         const passwordInput = document.querySelector('#password-input');
         
         togglePassword.addEventListener('click', function () {
             // Toggle the type attribute
             const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
             passwordInput.setAttribute('type', type);
             
             // Toggle the eye slash icon
             this.classList.toggle('bi-eye');
         });
         
         // JavaScript to toggle confirm password visibility
         const toggleConfirmPassword = document.querySelector('#toggle-confirm-password');
         const confirmPasswordInput = document.querySelector('#confirm-password-input');
         
         toggleConfirmPassword.addEventListener('click', function () {
             // Toggle the type attribute
             const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
             confirmPasswordInput.setAttribute('type', type);
             
             // Toggle the eye slash icon
             this.classList.toggle('bi-eye');
         });
         
         // JavaScript to toggle password visibility for login form
         const toggleLoginPassword = document.querySelector('#toggle-login-password');
         const loginPasswordInput = document.querySelector('#login-password-input');
         
         toggleLoginPassword.addEventListener('click', function () {
             const type = loginPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
             loginPasswordInput.setAttribute('type', type);
             this.classList.toggle('bi-eye');
         });
      </script>    
   </body>
</html>