{% extends 'File/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list_files.css' %}">
This is listfiles page
<div class="pdf-container">
    {% for file in files %}
        <div class="pdf-item" id="pdf-item-{{ file.id }}">
            <a href="{% url 'File:edit_file' file.id %}">
                <canvas id="canvas-{{ file.id }}"></canvas>
            </a>
            <p>{{file.file.url}}</p>
        </div>
    {% endfor %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
<script src="{% static 'js/list_files.js' %}"></script>
{% endblock content %}
