{% extends "File/index.html" %}
{% block content %}
{% load static %}
         
<main class="container ">
    <div class="row">
       <!-- SLIDER1 -->
       <div class="col-lg-6">
          <h1 id="tittle">We make PDF processing easier.</h1>
          <p id="depcriptsion">All the tools you need to work smarter and more efficiently with documents.</p>
          <span class="openbtn" id="tittle-btn" onclick="openNav()">
             <p id="tittle-btn-p">Try it for free</p>
          </span>
          <a id="tittle-link" href="#our-tools">
          <span>
          Explore all PDF tools
          </span>
          </a>
       </div>
       <div class="col-lg-6">
          <div class="img-fluid">
             <img src="{% static 'images/slider3_right.svg' %}" alt="">
          </div>
       </div>
    </div>
    <!-- SLIDER2 -->
    <div class="row g-4 mt-5 mb-5">
       <div class="text-center">
          <h1 style=" font-family: 'NotoSans-Bold';">
             The most popular PDF tools
          </h1>
          <p>
             Tools to convert and edit PDF for free. Try it today!
          </p>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/word_icon.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>PDF to Word</h4>
                <p>Convert PDF to editable Word documents</p>
             </a>
          </div>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/database.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>Merge pdf</h4>
                <p>Combine 2 or more PDF files into 1 unified file</p>
             </a>
          </div>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/jpg.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>PDF to JPG</h4>
                <p>Convert JPG, PNG, BMP, GIF to PDF and reverse</p>
             </a>
          </div>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/html.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>PDF to HTML</h4>
                <p>
                   Converting PDF files to HTML is easy
                </p>
             </a>
          </div>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/edit-file.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>Edit PDF</h4>
                <p>The best tool - Edit directly on PDF files</p>
             </a>
          </div>
       </div>
       <div class="col-lg-4 col-sm-6">
          <div class="p-3 ps-5 pe-5 border bg-light tool-item">
             <a id="text" href="">
                <span>
                <img id="icon-tool" src="{% static 'images/ppt_icon.png' %}" alt="">
                <img id="icon-arrow" src="{% static 'images/chevron-right.svg' %}" alt="">
                </span>
                <h4>PDF to PPT</h4>
                <p>
                   Can convert from PDF files to PowerPoint
                </p>
             </a>
          </div>
       </div>
       <div class="d-flex justify-content-center mt-4 mb-4">
          <a href="#our-tools">
          <button class=" btn btn-primary px-4 " type="submit" id="button-see-all">See all PDF tools</button>
          </a>
       </div>
    </div>
    <!-- SLIDER3 -->
    <div class="row mt-5 mb-5 align-items-center">
       <div class="col-lg-6">
          <h3 class="slider-tittle"> Working directly on your files</h3>
          <p class="pe-3">
             Do more than just view PDF files. Highlight and add text, images, shapes, and annotations
             hands-free to your documents. You can connect with other tools to perform many other functions on your files.
          </p>
          <a id="slider-link" href="">Edit PDF files now
          <i id="arrow-link" class="bi bi-arrow-right"></i>
          </a>
       </div>
       <div class="col-lg-6">
          <div class="img-fluid">
             <img src="{% static 'images/slider5_img.svg' %}" alt="">
          </div>
       </div>
    </div>
    <!-- SLIDER4 -->
    <div class="row mt-5 mb-5 align-items-center">
       <div class="col-lg-6">
          <div class="img-fluid">
             <img src="{% static 'images/slider4_left.svg' %}" alt="">
          </div>
       </div>
       <div class="col-lg-6">
          <h3 class="slider-tittle">Document management—All in one place</h3>
          <p class="pe-3">
             You don't need to work on many different applications anymore! 
             Save time by storing, managing,and sharing files across multiple devices—from our web platform.
          </p>
          <a id="slider-link" href="">
          Manage now
          <i id="arrow-link" class="bi bi-arrow-right"></i>
          </a>
       </div>
    </div>
    <!-- SLIDER5 -->
    <div class="row mt-5 mb-5 align-items-center">
       <div class="col-lg-5">
          <h3 class="slider-tittle">Converting HTML files is not difficult</h3>
          <p class="pe-3">
             Online conversion from html files to other formats and from other formats to html.
          </p>
          <a id="slider-link" href="">
          Convert now
          <i id="arrow-link" class="bi bi-arrow-right"></i>
          </a>
       </div>
       <div class="col-lg-7 d-flex align-items-stretch">
          <div class="img-fluid">
             <div class="img-html-convert"></div>
          </div>
       </div>
    </div>
    <!-- OUR TOOLS -->
    <div id="our-tools" class="row g-3 mt-5 mb-5">
       <div class="text-center">
          <h1 style=" font-family: 'NotoSans-Bold';">
             Our tools
          </h1>
       </div>
       <!-- SIGN-NAME -->
       <div class="col-lg-3 col-sm-6">
          <div class="p-3 ps-4 pe-4 ">
             <h5 class="text-center">Sign</h5>
             <ul class="list-group">
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/sign-name.png' %}" alt="">
                   <a class="our-tools-link" href="">Sign your name</a>
                </li>
             </ul>
          </div>
       </div>
       <!-- ARRANGE -->
       <div class="col-lg-3 col-sm-6">
          <div class="p-3 ps-4 pe-4 ">
             <h5 class="text-center">Arrange</h5>
             <ul class="list-group">
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/database.png' %}" alt="">
                   <a class="our-tools-link" href="">Merge PDF</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/cut-icon.png' %}" alt="">
                   <a class="our-tools-link" href="">Cut PDF</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/thungrac-color.png' %}" alt="">
                   <a class="our-tools-link" href="">Delete PDF pages</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/spinning.png' %}" alt="">
                   <a class="our-tools-link" href="">
                   Spining PDF</a>
                </li>
             </ul>
          </div>
       </div>
       <!-- VIEW & EDIT -->
       <div class="col-lg-3 col-sm-6">
          <div class="p-3 ps-4 pe-4 ">
             <h5 class="text-center">View & Edit</h5>
             <ul class="list-group">
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/edit-file.png' %}" alt="">
                   <a class="our-tools-link" href="">Edit PDF</a>
                </li>
                </li>
             </ul>
          </div>
       </div>
       <!-- CONVERT -->
       <div class="col-lg-3 col-sm-6">
          <div class="p-3 ps-4 pe-4 ">
             <h5 class="text-center">Convert</h5>
             <ul class="list-group">
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/word_icon.png' %}" alt="">
                   <a class="our-tools-link" href="{% url 'conversion:convert_file_before_login' 'pdf2word' %}">PDF to Word</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/excel_icon.png' %}" alt="">
                   <a class="our-tools-link" href="{% url 'conversion:convert_file_before_login' 'pdf2excel' %}">PDF to Excel</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/ppt_icon.png' %}" alt="">
                   <a class="our-tools-link" href="{% url 'conversion:convert_file_before_login' 'pdf2ppt' %}">PDF to PPT</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/html.png' %}" alt="">
                   <a class="our-tools-link" href="{% url 'conversion:convert_file_before_login' 'pdf2html' %}">PDF to HTML</a>
                </li>
                <li id="list-item" class="list-group-item pt-3 pb-3 d-flex align-items-center">
                   <img class="sign-icon me-3" src="{% static 'images/jpg.png' %}" alt="">
                   <a class="our-tools-link" href="{% url 'conversion:convert_file_before_login' 'pdf2jpg' %}">PDF to JPG</a>
                </li>
             </ul>
          </div>
       </div>
    </div>
   
 </main>
{% endblock content %}